@charset "utf-8";

#main {overflow-x: hidden;}

/* #main_visual */
#main_visual > .inner {padding: 100px 5%; background: url('../images/sub/esports/valo/bg.jpg') no-repeat center/cover;}
#main_visual .inner h2 {color: var(--sub-color); font-size: 5rem;}
#main_visual .inner form {padding: 50px 0;}
#main_visual .inner select {color: var(--sub-color); background: transparent; border-bottom: solid 1px var(--sub-color); padding: 0 20px;}
#main_visual .inner select option {color: var(--dark-color);}

/* date */
.date {margin-bottom: 50px;}
.date .inner {max-width: 1200px; padding: 0;}
.date h3 {font-family: var(--sub-font); font-size: 2rem;}
.date .date_area {display: flex; background: var(--sub-color); border-radius: 0px; align-items: center; padding: 20px 50px;}
.date .date_area h3 {text-align: left; width: 200px;}
.date .date_area h4 {text-align: right; width: 60px;}
.date .date_area .date_list {width: calc(100% - 260px); height: 30px;}
.date .date_area .date_list li a {color: var(--footer-color); font-size: 2rem;}
.date .date_area .date_list span {font-family: var(--sub-font); float: right;} 

@media (max-width: 1200px) {
      #main_visual .inner h2 {font-size: 4rem;}
      .date .date_area h3 {width: 150px;}
      .date .date_area .date_list {width: calc(100% - 210px); height: 25px;}
      .date .date_area .date_list li a {font-size: 1.6rem;}
}
@media (max-width: 992px) {
      #main_visual > .inner {padding: 100px 5% 50px;}
      #main_visual .inner form {padding: 30px 0;}
      .date {margin-bottom: 30px;}
      .date .date_area {padding: 10px 20px;}
      .date .date_area h3 {display: none;}
      .date .date_area .date_list {width: calc(100% - 60px);}
      .date .date_area .date_list li a {font-size: 1.4rem;}
      .date .date_area .date_list span {display: none;}
}
@media (max-width: 430px) {
      .date .date_area {padding: 10px;}
      .date .date_area h4 {font-size: 1.2rem; width: 50px;}
      .date .date_area .date_list {width: calc(100% - 50px);}
}

@keyframes circleLotate {
      0% {}
      100% {rotate: 360deg;}
      }
#main_visual .esports_contents {display: flex; align-items: center;}
#main_visual .esports_contents > div {width: 50%;}
#main_visual .esports_contents iframe {width: calc(100% - 100px); height: 500px;}
#main_visual .esports_contents video {object-fit: cover; }
#main_visual .esports_contents img {display: block; width: 100%;}
#main_visual .esports_contents .esports_area {display: flex; flex-direction: column; gap: 50px;}
#main_visual .esports_contents .box {display: flex;}
#main_visual .esports_contents .box > .box_img {width: 60%; position: relative;}
#main_visual .esports_contents .box > .box_img::after {position: absolute; display: block; content: ''; background: url('../images/sub/esports/circle.png') no-repeat center/cover; animation: circleLotate 25s linear infinite; width: 100%; height: 100%; left: 10px; top: 10px; }
#main_visual .esports_contents .box > span {color: var(--sub-color); text-align: center; display: flex; justify-content: center; align-items: center; width: 40%; height: 100px; font-size: 2rem;}
#main_visual .esports_valo .esports_contents .box > span {background: var(--valo-color);}
#main_visual .esports_lol .esports_contents .box > span {background: var(--lol-color);}

@media (max-width: 1200px) {
      #main_visual .esports_contents iframe {width: calc(100% - 50px); height: 300px;}
      #main_visual .esports_contents .box > span {height: 150px; font-size: 1.6rem;}
}
@media (max-width: 992px) {
      #main_visual .esports_contents {flex-direction: column; gap: 50px;}
      #main_visual .esports_contents > div {width: 100%;}
      #main_visual .esports_contents iframe {width: 100%; height: 350px;}
      #main_visual .esports_contents .box > span {height: 100px;}
}
@media (max-width: 430px) {
      #main_visual .esports_contents {gap: 30px;}
      #main_visual .esports_contents iframe {height: 250px;}
      #main_visual .esports_contents .box > span {font-size: 1.2rem;}
}


/* #news */
.news {padding: 100px 0;}
#news_valo {background: url('../images/sub/esports/valo/bg2.jpg') repeat-y center/cover;}
#news_lol {background: url('../images/sub/esports/lol/bg2.jpg') repeat-y center/cover;}
.news .inner {text-align: center;}
.news .inner h2 {display: inline-block; padding: 10px 60px; background: var(--other-color); color: var(--sub-color); font-size: 3rem; border-radius: 70px; margin-bottom: 50px; font-weight: 700; font-family: var(--eng-font);}
.news .news_container {display: flex; justify-content: space-between; flex-wrap: wrap; row-gap: 50px;}
.news .news_container .news_list {width: 30%; position: relative;}
.news .news_container .news_list .news_img {width: 100%; position: relative; overflow: hidden;}
.news .news_container .news_list .news_img::after {position: absolute; content: ''; display: block; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,0.6); opacity: 0;}
.news .news_container .news_list:hover .news_img::after {opacity: 1;}
.news .news_container .news_list .news_img img {width: 100%; height: 100%; transition: all 0.5s;}
.news .news_container .news_list:hover .news_img img {transform: scale(1.1);}
.news .news_container .news_list h3 {font-size: 2rem; color: var(--sub-color); padding: 20px 0 10px; font-weight: 300;}
.news .news_container .news_list h3 + p {font-size: 1.8rem; color: var(--sub-color); margin-bottom: 30px; font-family: var(--eng-font); text-align: left;}
.news .news_container .news_list .news_more a {display: inline-block; position: absolute; right: 20px; top: 20px; padding: 5px 10px; background: var(--main-color); color: var(--sub-color); border-radius: 50px;}

@media (max-width: 1200px) {
      .news {padding: 50px 0;}
      .news .inner h2 {padding: 5px 40px; font-size: 2.5rem; margin-bottom: 30px;}
      .news .news_container .news_list {width: 30%;}
      .news .news_container .news_list h3 {font-size: 1.6rem; padding: 10px 0 5px; letter-spacing: -1px;}
      .news .news_container .news_list h3 + p {font-size: 1.4rem; margin-bottom: 30px;}
      .news .news_container .news_list .news_more a {font-size: 1.2rem; top: 10px; right: 10px; }
}
@media (max-width: 992px) {
      .news .news_container .news_list {width: calc(50% - 30px);}
      .news .news_container .news_list h3 + p {font-size: 1.2rem;}
}
@media (max-width: 768px) {
      .news {padding: 50px 0;}
      .news .inner h2 {padding: 5px 20px; font-size: 2rem; margin-bottom: 30px;}
      .news .news_container .news_list {width: calc(50% - 20px);}
      .news .news_container .news_list h3 {font-size: 1.2rem; padding: 5px;}
      .news .news_container .news_list h3 + p {font-size: 1rem; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden;}
}