@charset "utf-8";

@font-face {
  font-family: 'Giants-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Giants-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: '1YangPyeongL';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/1YangPyeongL.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: '2YangPyeongM';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/2YangPyeongM.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: '3YangPyeongB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/3YangPyeongB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}